body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    min-height: 100vh;
    background: rgb(23,22,22);
    background: linear-gradient(90deg, rgba(23,22,22,1) 0%, rgba(212,43,43,1) 50%, rgba(22,190,13,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background-color: white;
    background-image: blur(100);
    border: 2px rgba(0,0,0,0.7);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
    width: 75vw;
    height: auto;
    padding: 15px 25px;
}
h1 {
    font-size: 1.4em;
    margin-bottom: -2em;
}
p {
    font-size: 1.1em;
    line-height: 1.35em;
}
#bold {
    font-weight: 700;
}
#non-bold {
    font-weight: 400;
}
#underline {
    text-decoration: underline;
}
a {
    text-decoration: none;
    padding: 10px 25px;
    background-color: black;
    border-radius: 5px;
    color: white;
}


@media (max-width: 450px) {
    .container {
        width: 85%;
    }
    h1 {
        font-size:1.2em;
    }
    p {
        font-size: 1em;
    }
    .container {
        padding: 10px 20px;
    }
}